<h1>Listing hosts</h1>

<table>
  <tr>
  </tr>

<% for host in @hosts %>
  <tr>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New host', new_host_path %>
