body { 
	margin: 0;
	padding: 30px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: small;
	background-color: #ECF1EF;
	}

table a { color: #698B22; font-size: 110%; }
img {border: 0;}
/*#77985C*/
#header {
   height: 4.3em;
}

/* Nav tabs */
#nav {
	float: left;
	width: 90%;
	margin: 0;
	padding: 10px 0 0 46px;
	list-style: none;
	background: #330033;
	background-image: url('/images/bg.png');
	background-position: right;
	background-repeat: no-repeat;
	
}

#nav a {
	float: left;
	display: block;
	margin: -1px;
	padding: 4px 9px 10px 8px;
	color: #330033;
	font-size: 120%;
	text-decoration: none;
	border: 1px solid #663366;
	border-bottom: none;
	background: #CC99FF;
}

#nav a:hover, body#networks #t-networks a, body#ips #t-ips a, body#hosts #t-hosts a, body#slices #t-slices a {
	color: #330033;
	padding-bottom:10px;
	border-color: #663366;
	background: #fff;
	}



/* Tables */

table {
	position: relative;
	top: -4px;
	left: -4px;
	float: left; /*safari fix*/
	width: 100%;
	background: #fff;
	border-right: 2px solid #EBECE4;
	border-bottom: 4px solid #EBECE4;
	margin: 0 0 2.4em 0;
	
	
}

table th, table td {
	margin: 0;
	padding: 8px 20px;
	text-align: center;
	border-bottom: 1px solid #b5b5b5;
}

table th {
	color: #999;
}
table .name {
	text-align: left;
}
table tr {
    border: none;
}

table tr.odd {
	background: #fff;
}

table tr.even {
	background: #F6F9ED;
}
table tr.dark th{
	background: #333;
	color: #ECF1EF;
}

table caption {
	margin: 0;
	padding: 1em;
	text-align: left;
	border-right: 2px solid #EBECE4;
	background: #fff;
    font-size: 2em; 
}
table caption a {
	font-size: small;
}
	
}

.table_shadow {
	background: #919191;
}

table td.actions {
	background-color: #F7F7F7;
}

tfoot td {
    border-bottom: none;
	/*background-color: #F7F7F7;*/

}

span.shadow {
	background-color: #F7F7F7;
	
}

tfoot img {
	float: right;
	padding:.4em 2em 0em 0 ;
}

/*forms*/

form {
    float: left;
}

form label{
	float:left;
	font-weight: bold;
}
form input {
	border: 1px solid #D1D1D1;
	padding: .2em;
	font-size: 120%;
}
form input#network_submit, input#ip_submit {
	float: left;
}
form span {
	color: #999;
}
form fieldset {
	border: none;
	border-top: 1px solid #999;
	padding: 0 6em 4em 2em;
}

#menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2em;
	z-index: 99;
	background-image: url('/images/transparent_bg.png');
	padding: .6em 0 0 1.1em;
	border-top:1px dotted #999;
	border-bottom:5px solid #333;
  
}

/* rails default */

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

