<h1>Editing domain</h1>

<% form_for(@domain) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @domain %> |
<%= link_to 'Back', domains_path %>
