<h1>Editing Slice</h1>

<% form_for(@slice) do |f| %>
  <%#= f.error_messages %>

	<%= f.text_field :name %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @slice %> |
<%= link_to 'Back', slices_path %>
