<ul id="dip">
  <h2>Xen Host: </h2>  
    <li>Brodaigh</li>
    <li>Human</li>
    <li>101M</li>
    <li>0.001M</li>
</ul>
<ul id="nav">
<% %w(hosts slices networks ips).each do |item| %>
  <li id="t-<%= item %>"><%= link_to item, "/#{item}" %></li>
<% end %>
</ul>