<table cellspacing="0">
	<caption>Used IPs</caption>
	<thead>
		<tr>
		  <th class="name">Address</th>
		  <th>Network</th>
		  <th>Used by</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
	</thead>
<%= render :partial => 'ips/ip', :collection => @ips %>
	<tfoot>
		<tr>
			<td><%= link_to image_tag('/images/plusbutton.png', :alt => "Mark IP as used", :title => "Mark IP as used"), new_network_ip_path(network.id) %></td>
			<td colspan="5"></td>
		</tr>
	</tfoot>
</table>