<table cellspacing="0">
	<caption>Used IPs</caption>
		<tr class="dark">
		  <th class="name">Address</th>
		  <th>Network</th>
		  <th>Used by</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
<%= render :partial => 'ips/ip', :collection => @ips %>

</table>