<table cellspacing="0">
  <tr>
    <th class="name">Address</th>
    <th>Network</th>
	<th>Used by</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<%= render :partial => 'ip', :collection => @ips %>

</table>

<br />

<%= link_to 'New ip', new_ip_path %>
