<table cellspacing="0">
	<caption>IP's</caption>
	<thead>
		<tr>
			<th class="name">Address</th>
			<th>Network</th>
			<th>Used by</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
  <%= render :partial => 'ip', :collection => @ips %>
	<tfoot>
		<tr>
			<td><%= link_to image_tag('/images/plusbutton.png', :alt => "New IP", :title => "New IP"), new_ip_path %></td>
			<td colspan="7"></td>
		</tr>
	</tfoot>
</table>

<br />
